[Unit]
Description=HW05 Server-Side Game Logic

[Service]
Type=simple
User=practice
Group=practice
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4791
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/practice/cs4550-hw05
ExecStart=/bin/bash /home/practice/cs4550-hw05/start.sh

[Install]
WantedBy=multi-user.target
